<div id="<%= dom_id politica %>">
  <p>
    <strong>Titulo:</strong>
    <%= politica.titulo %>
  </p>

  <p>
    <strong>Conteudo:</strong>
    <%= politica.conteudo %>
  </p>

  <p>
    <strong>Analise:</strong>
    <%= politica.analise %>
  </p>

</div>
