<% content_for :title, "Editing politica" %>

<h1>Editing politica</h1>

<%= render "form", politica: @politica %>

<br>

<div>
  <%= link_to "Show this politica", @politica %> |
  <%= link_to "Back to politicas", politicas_path %>
</div>
